<ion-header>
    <ion-navbar>
        <!-- {{consultation.Title}} -->
        <ion-title *ngIf="consultation">تفاصيل إستشارة</ion-title>
    </ion-navbar>
</ion-header>
<ion-content style="background-image: none;" padding>
    <ion-item no-lines>
        <ion-avatar (click)="viewUserDetails()" style="margin-right: 5px !important;" item-start>
            <img [src]="consultation.UserImage">
        </ion-avatar>
        <h2 style="font-size: 1.1em;" (click)="viewUserDetails()">{{consultation.UserFullName}}</h2>
        <p style="font-size: 0.8em;">{{consultation.CreateDate}} {{consultation.CreateTime}}</p>
        <div *ngIf="consultation.StatusId == 2" item-end class="led-box custom-mark">
            <div class="led-green"></div>
        </div>
        <div *ngIf="consultation.StatusId == 1" item-end class="led-box custom-mark">
            <div class="led-yellow"></div>
        </div>
        <div *ngIf="consultation.StatusId == 3" item-end class="led-box custom-mark">
            <div class="led-red"></div>
        </div>
    </ion-item>
    <hr />
    <ion-card-content>
        <h3 style="color:gray !important;  font-size: 1.5rem;">{{consultation.Title}}</h3>
        <p style="font-size:0.9em; color:gray !important;">
            {{consultation.Details}}
        </p>
    </ion-card-content>
    <img *ngIf="consultation.ConsultationImage" imageViewer src="{{consultation.ConsultationImage}}" />
    <p *ngIf="consultation.StatusId != 1 && consultation.RepliesCount" class="comments">
        {{consultation.RepliesCount}} تعليق
    </p>
    <p *ngIf="consultation.StatusId != 1 && !consultation.RepliesCount" class="comments">
        لم تبدأ المناقشة
    </p>
    <p class="comments" *ngIf="consultation.Status == 'مغلق'">
        تم الاغلاق في {{consultation.CloseDate}}
    </p>
    <!-- <button (click)="review()" (click)="viewConsultantProfile()" ion-item *ngIf="consultation.ConsultantEmail">
            <ion-avatar item-left>
                <ion-icon name="chatbubbles"></ion-icon>
            </ion-avatar>
            <h3>مراجعة المناقشه</h3>
    </button> -->

    <button (click)="viewConsultantProfile()" ion-item *ngIf="consultation.ConsultantEmail">
        <ion-avatar item-left>
            <img src="{{consultation.ConsultantImage}}" />
        </ion-avatar>
        <h3>{{consultation.ConsultantFullName}}</h3>
        <p style="font-size: 0.8em !important;">قام بالرد</p>
    </button>

    <ion-row *ngIf="isConsultant" padding justify-content-center>
        <ion-col col-6>
            <button full ion-button color="light" (click)="accept()">
                <p style="font-size: 0.9em !important;" justify-content-center>
                    <ion-icon class="larger-icon" name="thumbs-up"></ion-icon>
                    قبول
                </p>
            </button>
        </ion-col>
        <ion-col col-6>
            <button full ion-button color="light" (click)="refuse()">
                <p style="font-size: 0.9em !important;" justify-content-center>
                    <ion-icon class="larger-icon" name="thumbs-down"></ion-icon>
                    رفض
                </p>
            </button>
        </ion-col>
    </ion-row>
    
</ion-content>