<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>عن مستشارك</ion-title>
    </ion-navbar>
</ion-header>
<ion-content>
    <div class="about-header">
        <img src="assets/images/logo.png" alt="Mustashark logo">
    </div>
    <div padding  class="about-info">
        <h3 text-center>مستشارك في جيبك</h3>
        <div [innerHtml]="aboutContent"></div> 
    </div>
</ion-content>
 
<ion-tabs name="try">
    <ion-tab tabTitle="الإستشارات" tabIcon="calendar" ></ion-tab>
    <ion-tab tabTitle="الملف الشخصى" tabIcon="person"></ion-tab>
    <ion-tab tabTitle="الباقات" tabIcon="albums"></ion-tab>
    <ion-tab tabTitle="الشكاوي والدعم" tabIcon="chatboxes"></ion-tab>
</ion-tabs>     