<ion-content fullscreen class="login-content" >
    <ion-row class="logo-row">
      <ion-col></ion-col>
      <ion-col col-6>
        <img src="assets/images/logo-white.png" />
      </ion-col>
      <ion-col></ion-col>
    </ion-row>
    <div class="login-box">
      <form #loginForm="ngForm">
        <ion-row>
          <ion-col>
              <ion-item>
                <ion-input type="email" autocapitalize="off" [(ngModel)]="login.username" placeholder="البريد الإلكتروني" name="email" text-center
                  required></ion-input>
                  <button  ion-button clear color="dark" type="button" item-right > <ion-icon style="color: white;" name="mail"></ion-icon></button>               
                  
              </ion-item>
              <ion-item>
                <ion-input type="{{type1}}" text-center placeholder="كلمة المرور " [(ngModel)]="login.password" name="password" required></ion-input>
                <button *ngIf="showPass1" ion-button clear color="dark" type="button" item-right (click)="showPassword(1)"> <ion-icon style="color: white;" name="ios-eye-off-outline"></ion-icon></button>
                <button *ngIf="!showPass1" ion-button clear color="dark" type="button" item-right (click)="showPassword(1)"> <ion-icon style="color: white;" name="ios-eye-outline"></ion-icon></button>               
              </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="signup-col">
            <button ion-button class="submit-btn" (click)="onLogin(loginForm)" [disabled]="!loginForm.form.valid" full type="submit"
              color="danger">تسجيل الدخول</button>
            <button ion-button class="other-btn" (click)="onSignup()" block clear>انشاء حساب</button>
            <button ion-button class="other-btn" block clear (click)="onForgetPassword()">هل نسيت كلمة المرور !</button>
          </ion-col>
        </ion-row>
      </form>
    </div>
  </ion-content>