<ion-tabs [selectedIndex]="mySelectedIndex" name="conference">
    <ion-tab [root]="tab1Root" tabTitle="الملف الشخصي" tabIcon="person" ></ion-tab>
    <ion-tab [root]="tab2Root" tabTitle="الإستشارات" tabIcon="chatboxes"></ion-tab>
    <ion-tab [root]="tab3Root" tabTitle="الباقات" tabIcon="albums"></ion-tab>
    <ion-tab [root]="tab4Root" tabTitle="المستشارين" tabIcon="people"></ion-tab>
</ion-tabs> 
