<ion-header>
    <ion-navbar>
        <ion-title>إعدادات الحساب</ion-title>
    </ion-navbar>
</ion-header>
<ion-content padding>
    <form #addForm="ngForm">
        <ion-item>
            <ion-label >الإسم </ion-label>
            <ion-input text-right type="text" name="name" [(ngModel)]="model.Name"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label >رقم الهاتف </ion-label>
            <ion-input text-right type="number" name="moile" [(ngModel)]="model.Mobile"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label >تاريخ الميلاد</ion-label>
            <ion-datetime text-right displayFormat="DD MM YYYY" name="birthDate" pickerFormat="DD MM YYYY" [(ngModel)]="model.BirthDate"></ion-datetime>
            <!---->
        </ion-item>
        <ion-list radio-group [(ngModel)]="model.Gender" name="gender">
            <ion-item>
                <ion-label>النوع</ion-label>
            </ion-item>
            <ion-item>
                <ion-radio value="1"></ion-radio>
                <ion-label>ذكر</ion-label>
            </ion-item>
            <ion-item>
                <ion-radio value="2"></ion-radio>
                <ion-label>أنثي</ion-label>
            </ion-item>
            <ion-item></ion-item>
        </ion-list>
        <ion-item>
            <ion-label > نوع النشاط </ion-label>
            <ion-input type="text" text-right name="field" [(ngModel)]="model.Field"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label > حجم المبيعات في السنة </ion-label>
            <ion-input type="number" text-right name="sals" [(ngModel)]="model.SalesVolumn"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label > رأس مال المنشأه </ion-label>
            <ion-input text-right type="number" name="capital" [(ngModel)]="model.Capital"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label > عدد الموظفين </ion-label>
            <ion-input text-right type="number" name="emps" [(ngModel)]="model.NoOfEmps"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label > عدد سنوات المنشأه </ion-label>
            <ion-input type="text" name="years" [(ngModel)]="model.NoOfYears"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label > الموقع الإلكتروني </ion-label>
            <ion-input type="text" text-right name="site" [(ngModel)]="model.Website"></ion-input>
        </ion-item>
        <ion-list radio-group [(ngModel)]="model.HavePlane" name="plan">
            <ion-item>
                <ion-label>هل لدى منشأتك خطة إستراتيجية ؟ </ion-label>
            </ion-item>
            <ion-item>
                <ion-radio value="true"></ion-radio>
                <ion-label>نعم</ion-label>
            </ion-item>
            <ion-item>
                <ion-radio value="false"></ion-radio>
                <ion-label>كلا</ion-label>
            </ion-item>
            <ion-item></ion-item>
        </ion-list>
        <ion-list  radio-group [(ngModel)]="model.HaveSystem" name="system">
            <ion-item>
                <ion-label>هل لدى منشأتك أنظمة وسياسات و إجراءات داخلية ؟</ion-label>
            </ion-item>
            <ion-item>
                <ion-radio value="true"></ion-radio>
                <ion-label>نعم</ion-label>
            </ion-item>
            <ion-item>
                <ion-radio value="false"></ion-radio>
                <ion-label>كلا</ion-label>
            </ion-item>
            <ion-item></ion-item>
        </ion-list>
        <div padding>
            <button ion-button (click)="saveChanges(addForm)" class="button button-fill button-raised" type="submit" block>
                حفظ البيانات </button>
        </div>
    </form>
</ion-content>