<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>
            الباقات
        </ion-title>
    </ion-navbar>
</ion-header>
<ion-content padding style="direction:ltr;">
    <ion-refresher *ngIf="packages.length > 0" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <ion-slides>
        <ion-slide *ngFor="let package of packages">
            <ion-card>
                <ion-card-header>
                    <h2 style="text-align: center;">
                        {{package.Title}} {{num}}
                    </h2>
                </ion-card-header>
                <ion-card-content>
                    <ion-list no-lines>
                        <ion-item style="margin-top: 1px !important;">
                            <h2 class="circle-text">{{package.Price}} ر.س </h2>
                        </ion-item>
                        <ion-item>
                            <h2 class="package-title">{{package.QuestionsCount}} استشارة خلال الشهر </h2>
                        </ion-item>
                        <ion-item text-wrap no-lines>
                            <h2 style="line-height: normal;" class="package-description">تنتهي الباقة بعد مرور شهر أو بعد استهلاك {{package.QuestionsCount}} استشارة خلال الشهر </h2>
                        </ion-item>
                        <button *ngIf="!isConsultant" ion-button full (click)="subscribe(package)">
                            <h3 style="color:white;">اشترك في الباقة</h3>
                        </button>
                    </ion-list>
                </ion-card-content>
            </ion-card>
        </ion-slide>
    </ion-slides>
    <ion-fab *ngIf="packages.length > 0" middle right>
        <button style="background-color: transparent !important;" icon-only (click)="gonext()">
            <ion-icon name="ios-arrow-back" item-left></ion-icon>
        </button>
    </ion-fab>
    <ion-fab *ngIf="packages.length > 0" middle left>
        <button style="background-color: transparent !important;" icon-only (click)="gopreviuse()">
            <ion-icon name="ios-arrow-forward" item-left></ion-icon>
        </button>
    </ion-fab>
    <div padding class="error-message" *ngIf="!packages.length && loaded">
        <ion-row>
            <ion-col>
                <ion-row justify-content-center>
                    <ion-icon style="font-size:3.8em !important;" class="larger-icon" name="cloud-outline"></ion-icon>
                </ion-row>
                <ion-row padding text-center style="font-size: 0.8em !important; " justify-content-center>
                    يبدو أن قائمة الباقات خاوية أو أن هناك خطأ ما أو أنك فقدت الإتصال بالإنترنت
                </ion-row>
                <ion-row>
                    <button style="font-size: 0.9em !important;" justify-content-center text-center class="btn-card" ion-item (click)="ionViewDidLoad()">
                        إعادة التحميل
                        <ion-icon class="larger-icon" name="md-refresh"></ion-icon>
                    </button>
                    <!--                          -->
                </ion-row>
            </ion-col>
        </ion-row>
    </div>

</ion-content>