page-packages {
    ion-content {
        background-image: none !important;
    }

    ion-card {
        border-radius: 13px;
        direction: rtl;
        bottom: 0;
        left: 0;
        right: 0;
        top: 0;
        position: absolute;
        height: auto;
        width: auto;
        padding-bottom: 0 !important;
    }
    .fab-md , .fab-ios , .fab-ios-light , .fab-md-light{
        background-color: transparent !important;        
    } 
    .card{
        border: 1px solid #C42730;
        margin-top: 41px !important;
        margin-bottom: 41px !important;
    }
    ion-fab[right] {
        right: -10px !important;
    }
    ion-fab[left] {
        left: -10px !important;
    }
    ion-card button {
        color: gray !important;
        font-size: x-large !important;
        font-weight: 700 !important;
        bottom: 0 !important;
        position: absolute !important;
        right: 0 !important;
        margin-bottom: 0 !important;
        padding: 30px !important;
        background-color: #C42730 !important;
    }

    ion-card-header {
        background-color: #C42730 !important;
        margin: 0 !important;

        h2 {
            color: white !important;
        }
    }

    .circle-text {
        font-size: large;
        text-align: center;
        padding: 15%;
        background: #f9f5ef;
        height: auto;
        width: auto;
        font-weight: bolder;
        color: gray !important;
    }

    .package-title {
        font-size: medium;
        text-align: center;
        font-weight: 700;
        text-wrap: normal;
        color: gray !important;
    }

    .package-description {
        font-size: small;
        text-align: center;
        font-weight: 500;
        color: gray !important;
    }

    ion-list ion-item {
        margin: 0 !important;
    }
}
