<ion-header>
    <ion-navbar> 
        <ion-title (click)="gotoConsultationDetails()" style="font-size:.2rem">{{consultationName}}</ion-title>
        <ion-buttons *ngIf="isConsultant && consultation.StatusId !== 3" end>
            <button ion-button round outline style="FONT-SIZE: 0.9EM;" color="light" (click)="closeConultation()" icon-right>
                <ion-icon name="close"></ion-icon>
                غلق
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>
<ion-content no-tap-scroll="true">
    <ion-list class="chatBubble" no-lines>
        <ion-item *ngFor="let msg of msgList">
            <div class="chatBubble">
                <img (click)="openDetails()" class="profile-pic" [class.left]="msg.FromUserEmail !== me.email" *ngIf="msg.FromUserEmail !==  me.email"
                    [src]="getImage(msg.FromUserEmail)">
                <div class="chat-bubble" [class.left]="msg.FromUserEmail !==  me.email" [class.right]="msg.FromUserEmail ===  me.email">
                    <p *ngIf="!msg.IsImage" style="word-wrap: break-word; white-space: pre-wrap; font-size: .8em;">{{msg.Message}}</p>
                    <div *ngIf="msg.IsImage" class="image-container">
                        <img  [src]="msg.Message"> 
                        <!-- | safeImage : 'url' -->
                        <div class="after" (click)="download(msg.Message)"></div>
                    </div>
                    <p style="font-size: .7em;color:rgb(110, 110, 110)" class="message-detail">
                        <span> {{msg.strDate}} - {{msg.strTime}}</span>
                        <span *ngIf="msg.FromUserEmail !== userName" style="font-weight:bold;">, {{getUserName(msg.FromUserEmail)}} </span>
                    </p>
                </div>
            </div>
        </ion-item>
    </ion-list>

    <div padding class="error-message" *ngIf="!connected && loaded">
        <ion-row>
            <ion-col>
                <ion-row justify-content-center>
                    <ion-icon style="font-size:3.8em !important;" class="larger-icon" name="cloud-outline"></ion-icon>
                </ion-row>
                <ion-row padding text-center style="font-size: 0.8em !important; " justify-content-center>
                    يبدو أنك غير متصل بالإنترنت
                </ion-row>
                <ion-row>
                    <button style="font-size: 0.9em !important;" justify-content-center text-center class="btn-card" ion-item (click)="ionViewDidLoad()">
                        إعادة التحميل
                        <ion-icon class="larger-icon" name="md-refresh"></ion-icon>
                    </button>
                </ion-row>
            </ion-col>
        </ion-row>
    </div>
    <div padding class="error-message" *ngIf="!msgList.length && connected && loaded">
        <ion-row>
            <ion-col>
                <ion-row justify-content-center>
                    <ion-icon style="font-size:3.8em !important;" class="larger-icon" name="ios-chatboxes-outline"></ion-icon>
                </ion-row>
                <ion-row padding text-center style="font-size: 0.8em !important; " justify-content-center>
                    يبدو أنك لم تبدأ الدردشه عن هذه الإستشاره بعد يمكنمك البدأ بإضافة تعليق .
                </ion-row>
            </ion-col>
        </ion-row>
    </div>
</ion-content>

<ion-footer style="height:65px;" *ngIf="consultation.StatusId !== 3" no-border >
    <ion-grid class="input-wrap">
        <ion-row>
            <ion-col col-1>
                <button style="margin-right: -15px;" ion-button clear icon-only item-right [disabled]="disabled || !connected" (click)="sendMessage()">
                    <ion-icon name="send"></ion-icon>
                </button>
            </ion-col>
            <ion-col col-9>
                <ion-textarea [disabled]="disabled || !connected" #chat_input id="chat_input" rows="1" name="description" required text-right
                    placeholder="أضف تعليق ... " [(ngModel)]="editorMsg" (focus)="_focus()"></ion-textarea>
            </ion-col>
            <ion-col col-1>
                <button style="margin-right: -15px;" ion-button clear icon-only item-right [disabled]="disabled || !connected" (click)="browse()">
                    <ion-icon name="image"></ion-icon>
                </button>
            </ion-col>
            <ion-col col-1>
                <button style="margin-right: -15px;" ion-button clear icon-only item-right [disabled]="disabled || !connected" (click)="pick()">
                    <ion-icon name="camera"></ion-icon>
                </button>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col></ion-col>
        </ion-row>
    </ion-grid>
</ion-footer>