page-consultation-chat {
    .chatBubble{
        $userBackgroundColor: #eff0f1;
    $toUserBackgroundColor: rgb(247, 242, 242);

      img.profile-pic {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        position: absolute;
        bottom: 10px;
      } 
    
      img.profile-pic.left {
        left: 10px;
      }
    
      img.profile-pic.right {
        right: 10px;
      }
    
      .message {
        font-size: medium;
        word-wrap: break-word;
        white-space: pre-wrap;
      }
    
      .message-detail {
        white-space: nowrap;
        font-size: 14px;
      }
    
      .chat-bubble {
        border-radius: 5px;
        border: 1px solid #b0d4df;
        display: inline-block;
        padding: 10px 18px;
        position: relative;
        margin: 10px;
        max-width: 80%;
      }
    
      .chat-bubble:before {
        content: "\00a0";
        display: block;
        height: 16px;
        width: 9px;
        position: absolute;
        bottom: -7.5px;
      }
    
      .chat-bubble.left {
        background-color: $toUserBackgroundColor;
        float: left;
        margin-left: 55px;
      }
    
      // .chat-bubble.left:before {
      //   background-color: $toUserBackgroundColor;
      //   left: 10px;
      //   -webkit-transform: rotate(70deg) skew(5deg);
      // }
    
      .chat-bubble.right {
        background-color: $userBackgroundColor;
        color: #000;
        float: right; 
      }
    
      // .chat-bubble.right:before {
      //   background-color: $userBackgroundColor;
      //   right: 10px;
      //   -webkit-transform: rotate(118deg) skew(-5deg);
      // }
    
      .chat-bubble.right a.autolinker {
        color: #000;
        font-weight: bold;
      }
    }


 .image-container {
      position: relative;

  }
  .image-container .after {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: block;
      background-image: url('../assets/images/download.png');
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-position: 54% 56%; 
    }
}
