<ion-header>
    <ion-navbar>
        <ion-title>تفاصيل مستشار</ion-title>
    </ion-navbar>
</ion-header>
<ion-content padding>
    <div padding text-center>
        <img [src]="consultant.Image" alt="avatar">
        <h3 style="margin-top: 0px; font-size: 1.8rem !important; color:#C42730 !important">
            <b>
                {{consultant.FullName}}
            </b>
        </h3>
        <p>
            {{consultant.Subject}}
        </p>
        <ion-item>
            <h2 class="con">إستشارة مفتوحة</h2>
            <p item-end style="font-size: 0.8em;">
                <b style="color:#C42730;">{{consultant.OpenConsultationCount}}</b>
            </p>
        </ion-item>
        <ion-item>
            <h2 class="con">إستشارة مغلقة</h2>
            <p item-end style="font-size: 0.8em;">
                <b style="color:#C42730;">{{consultant.ClosedConsultationCount}}</b>
            </p>
        </ion-item>
        <p>
            {{consultant.Summary}}
        </p>
    </div>
</ion-content>