page-consultant-details {
    img {
        width: 100px !important;
        height: 100px !important;
        max-width: 100px !important; //any size
        max-height: 100px !important; //any size
        border-radius: 50%;
    }
    .item-inner{
        border-bottom: 0 !important;
    }
}
