<ion-header>

    <ion-navbar>
        <ion-title>تعديل الصورة الشخصية</ion-title>
    </ion-navbar>

</ion-header>

<ion-content padding>
    <div padding text-center>
        <img [src]="Image" alt="avatar">
        <ion-row padding justify-content-center>
            <ion-col>
                <button ion-button color="light" (click)="browse()">
                    <p style="font-size: 0.9em !important;" justify-content-center>
                        <ion-icon class="larger-icon" name="image"></ion-icon>
                        إختيار صورة
                    </p>
                </button>
            </ion-col>
            <ion-col>
                <button ion-button color="light" (click)="pick()">
                    <p style="font-size: 0.9em !important;" justify-content-center>
                        <ion-icon class="larger-icon" name="camera"></ion-icon>
                        إلتقاط صورة
                    </p>
                </button>
            </ion-col>
        </ion-row>
        <div padding>
            <button ion-button (click)="save()" class="button button-fill button-raised" type="submit" block>
                حفظ الصورة الشخصية
            </button>
        </div>
    </div>
</ion-content>
