page-confirm-code {
    ion-content {
        background-image: none;
    }

    ion-label {
        color: gray !important;
    }
    ion-content ion-item {
        background-color: transparent !important;
    }
    
    button {
        padding: 7% !important;
    }

    .logo-land img {
        width: 55% !important;
        margin-top: 10%;
    }

}
