<ion-content fullscrean>
    <div class="logo logo-land " text-center padding>
        <img src="assets/images/confirm-email.png" />
    </div>
    <form #loginForm="ngForm" novalidate>
        <ion-list>
            <ion-item text-center padding text-wrap no-lines>
                <h2 class="package-description">من فضلك أدخل كود التفعيل المرسل علي البريد هنا </h2>
            </ion-item>
            <ion-item text-center padding>
                <ion-input autocapitalize="off" placeholder="####" max-length="4" required type="number" name="confirmcode" [(ngModel)]="data.ActivationCode"
                    #confirmcode="ngModel" text-center required></ion-input>
            </ion-item>
        </ion-list>
        <div padding>
            <button ion-button color="danger" (click)="onLogin(loginForm)" class="button button-fill button-raised" type="submit" block>
                تفعيل العضوية
            </button>
        </div>
    </form>
</ion-content>