<ion-content fullscreen>
  <ion-row class="logo-row">
    <ion-col></ion-col>
    <ion-col col-6>
      <img src="assets/images/logo-white.png" />
    </ion-col>
    <ion-col></ion-col>
  </ion-row>
  <ion-row justify-content-center>
    <h2 style="color:white;" text-center> مرحبا بك في مستشارك!</h2>
  </ion-row>
  <div style="margin-top:30% !important;" class="error-message">
    <ion-row padding>
      <button class="submit-btn" full ion-button (click)="login()">
        تسجيل الدخول
      </button>
    </ion-row>
    <ion-row padding>
      <button class="submit-btn" full ion-button (click)="register()">
        إنشاء حساب
      </button>
    </ion-row>
  </div>

</ion-content>