<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>الشكاوي والدعم</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding style=" background-image: none !important;">
    <form padding #submitForm="ngForm" novalidate (ngSubmit)="submit(submitForm)">
        <div>
            <div text-center style="padding:20px 0 30px 0;">
                <img src="assets/images/logo.png" class="menu-logo" />
            </div>
            <ion-item>
                <ion-input placeholder="عنوان الشكوي" text-right name="title" #title="ngModel" [(ngModel)]="supportData.Title" required></ion-input>
            </ion-item> 
            <ion-item>
                <ion-textarea placeholder="تفاصيل الشكوي" text-right [(ngModel)]="supportData.Details" name="supportQuestion" #supportQuestion="ngModel" style="border-color:aliceblue;"
                    rows="3" required></ion-textarea>
            </ion-item>
        </div>
        <p ion-text [hidden]="supportQuestion.valid || submitted === false" color="danger" padding-left>
            الرجاء إدخال رسالة الشكوي
        </p>
        <div padding>
            <button ion-button block type="submit" class="button button-fill button-raised submit-btn" color="#C42730">إرسال الشكوي</button>
        </div>
    </form>
</ion-content>