page-settings {
    .toolbar-ios .segment-button {
        height: 2.9rem !important;}
    
    
    .segment-ios .segment-button.segment-activated {
        color: black !important;
        background-color: whitesmoke !important;
        opacity: 1;
        -webkit-transition: 100ms all linear;
        transition: 100ms all linear;
    }
    
    .segment-ios, .segment-button {
        border-color: whitesmoke !important;
        color:whitesmoke !important;
    }

    .segment-button {
        color:whitesmoke !important;
    }
    
}
