page-consultants {
    img {
        width: 100px;
        height: 100px;
        max-width: 100px !important; //any size
        max-height: 100px !important; //any size
        border-radius: 60%;
        // transform: translateX(-20%);
    }
   
    ion-card{
            margin-top: 0 !important;
            p{
                font-size: 0.8em !important;
                color:gray !important;
                margin-top: -10px !important;                
            }
            h4{
                color:gray !important;
            }
    }
}
