<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>المستشارين</ion-title>
    </ion-navbar>
</ion-header>
<ion-content padding>
    <ion-refresher *ngIf="consultants.length > 0" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <div>
        <ion-row style="margin-bottom:10px !important;"stify-content-center *ngFor="let row of consultants">
            <ion-card *ngFor="let consultant of row" col-5 (click)="openDetails(consultant)">
                <ion-row justify-content-center>
                    <img [src]="consultant.Image">
                </ion-row>
                <ion-row justify-content-center>
                    <h5 padding text-center>{{consultant.FullName}}</h5>
                </ion-row>
                <ion-row justify-content-center>
                    <p text-center>
                        {{consultant.Subject}}
                    </p>
                </ion-row>
            </ion-card>
        </ion-row>
    </div>

    <div padding class="error-message" *ngIf="!consultants.length && loaded">
        <ion-row>
            <ion-col>
                <ion-row justify-content-center>
                    <ion-icon style="font-size:3.8em !important;" class="larger-icon" name="cloud-outline"></ion-icon>
                </ion-row>
                <ion-row padding text-center style="font-size: 0.8em !important; " justify-content-center>
                    يبدو أن قائمة المستشارين خاوية أو أن هناك خطأ ما أو أنك فقدت الإتصال بالإنترنت
                </ion-row>
                <ion-row>
                    <button style="font-size: 0.9em !important;" justify-content-center text-center class="btn-card" ion-item (click)="ionViewDidLoad()">
                        إعادة التحميل
                        <ion-icon class="larger-icon" name="md-refresh"></ion-icon>
                    </button>
                </ion-row>
            </ion-col>
        </ion-row>
    </div>
</ion-content>