page-consultation {
    .toolbar-ios .segment-button {
        height: 2.9rem !important;}
    
    
    .segment-ios .segment-button.segment-activated {
        color: black !important;
        background-color: whitesmoke !important;
        opacity: 1;
        -webkit-transition: 100ms all linear;
        transition: 100ms all linear;
    }
    
    .segment-ios, .segment-button {
        border-color: whitesmoke !important;
        color:whitesmoke !important;
    }

    .segment-button {
        color:whitesmoke !important;
    }
    
    ion-avatar {
        margin: 1px 0 1px 0 !important;
    }
    ion-card{
        hr{
        margin: 0 5px 0 5px;
        }
    }
    .input-wrapper {
        margin: 0 !important;
    }
    .item-ios {
         padding-left: 0 !important; 
        }
    .item-md {
        padding-right: 0 !important;
        padding-left: 0 !important;
        border-radius: 0 !important;
        margin-right: 0 !important;
    }
    
    .label-md {
        margin: 0 !important;
    }
    
    button .item-inner {
        border-bottom: none !important;
    }
    
    .item-ios[detail-push] .item-inner, button.item-ios:not([detail-none]) .item-inner, a.item-ios:not([detail-none]) .item-inner {
        background-image: url("data:image/svg+xml;charset=utf-8,<svg%20xmlns='http://www.w3.org/2000/svg'><path%20d='M22.844998,0L23.995999,1.6369934 3.484985,16.061981 23.960996,30.359009 22.815,32 0,16.066986z'%20fill='%23c8c7cc'%20transform='rotate(0,24,24)%20translate(14.2516256570816,11)%20scale(0.8125,0.8125)'/></svg>") !important;
        padding-left: 0 !important;
        background-position: left 14px center !important;
        background-repeat: no-repeat !important;
        background-size: 14px 14px !important;
    }
    
}
