<ion-header>
    <ion-navbar no-border-bottom>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>
            الإستشارات
        </ion-title>
    </ion-navbar>
    <ion-toolbar no-border-top>
        <ion-segment [(ngModel)]="segment" (ionChange)="changeStatus()">
            <ion-segment-button value="new">
                <ion-icon name="star" style="margin-left: 5px !important;font-size: 1.7rem !important;" item-start></ion-icon>
                <b>الجديدة</b>
            </ion-segment-button>
            <ion-segment-button value="opened">
                <ion-icon name="mail-open" style="margin-left: 5px !important;font-size: 1.7rem !important;" item-start></ion-icon>
                <b>المفتوحة</b>
            </ion-segment-button>
            <ion-segment-button value="closed">
                <ion-icon name="close" style="margin-left: 5px !important;font-size: 1.7rem !important;" item-start></ion-icon>
                <b>المغلقة</b>
            </ion-segment-button>
        </ion-segment>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <div *ngIf="consultations.length > 0">
        <ion-card *ngFor="let consultation of consultations" (click)="goToConsultationDetail(consultation)">
            <ion-item>
                <ion-avatar style="margin-right: 2px !important;margin-left: 2px !important;" item-start>
                    <img [src]="consultation.UserImageUrl">
                </ion-avatar>
                <h2 style="font-size: 1.1em;">{{consultation.UserName}}</h2>
                <p style="font-size: 0.8em;">{{consultation.CreationDate}} - {{consultation.CreationTime}}</p>
                <div style="margin-left:2px !important;" *ngIf="stats == 2" item-end class="led-box custom-mark">
                    <div class="led-green"></div>
                </div>
                <div style="margin-left:2px !important;" *ngIf="stats == 1" item-end class="led-box custom-mark">
                    <div class="led-yellow"></div>
                </div>
                <div style="margin-left:2px !important;" *ngIf="stats == 3" item-end class="led-box custom-mark">
                    <div class="led-red"></div>
                </div>
            </ion-item>
            <hr />
            <ion-card-content>
                <h3 style="color:gray !important;">{{consultation.Title}}</h3>
                <p style="font-size:0.8em;">
                    {{trimDetails(consultation.Details)}}
                </p>
            </ion-card-content>
            <p *ngIf="stats == 2 && consultation.RepliesCount" class="comments">
                {{consultation.RepliesCount}} تعليق
            </p>
            <p *ngIf="stats == 2 && !consultation.RepliesCount" class="comments">
                لم تبدأ المناقشة بعد
            </p>
        </ion-card>
    </div>

    <div padding class="error-message" *ngIf="!consultations.length && loaded">
        <ion-row>
            <ion-col>
                <ion-row justify-content-center>
                    <ion-icon style="font-size:3.8em !important;" class="larger-icon" name="cloud-outline"></ion-icon>
                </ion-row>
                <ion-row padding text-center style="font-size: 0.8em !important; " justify-content-center>
                    يبدو أن قائمة الإستشارات خاوية أو أنك فقدت الإتصال بالإنترنت
                </ion-row>
            </ion-col>
        </ion-row>
    </div>
    <ion-fab *ngIf="!isConsultant" bottom left>
        <button ion-fab icon-only color="danger" (click)="presentAdd()">
            <ion-icon name="add" item-left></ion-icon>
        </button>
    </ion-fab>
    <ion-infinite-scroll *ngIf="!consultations.length" (ionInfinite)="doInfinite($event)">
        <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="جاري تحميل المزيد من الاستشارات  .. ">
        </ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>