<ion-header>
    <ion-navbar>
        <ion-title>تغيير كلمة المرور</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-row >
        <ion-col></ion-col>
        <ion-col width-40>
            <img  style="align-content: center" text-center src="assets/images/changepass.png" />
        </ion-col>
        <ion-col></ion-col>
    </ion-row>
    <form #addForm="ngForm">
        <div padding>
            <ion-item>
                <ion-input type="{{type1}}" required text-center placeholder="كلمة المرور القديمة" name="oldPassowrd" [(ngModel)]="model.OldPassword"></ion-input>
                <button *ngIf="showPass1"  ion-button clear color="dark" type="button" item-right (click)="showPassword(1)"> <ion-icon name="ios-eye-off-outline"></ion-icon></button>
                <button *ngIf="!showPass1" ion-button clear color="dark" type="button" item-right (click)="showPassword(1)"> <ion-icon name="ios-eye-outline"></ion-icon></button>               
            </ion-item>
            <ion-item>
                <ion-input required type="{{type2}}" text-center placeholder="كلمة المرور الجديدة" name="newPassword" [(ngModel)]="model.NewPassword">
                </ion-input>
                <button *ngIf="showPass2" ion-button clear color="dark" type="button" item-right (click)="showPassword(2)"> <ion-icon name="ios-eye-off-outline"></ion-icon></button>
                <button *ngIf="!showPass2" ion-button clear color="dark" type="button" item-right (click)="showPassword(2)"> <ion-icon name="ios-eye-outline"></ion-icon></button>               
            </ion-item>
            <ion-item>
                <ion-input required placeholder="تأكيد كلمة المرور الجديدة" text-center type="{{type3}}" name="confirmPassword" [(ngModel)]="model.ConfirmPassword">
                </ion-input>
                <button *ngIf="showPass3" ion-button clear color="dark" type="button" item-right (click)="showPassword(3)"> <ion-icon name="ios-eye-off-outline"></ion-icon></button>
                <button *ngIf="!showPass3" ion-button clear color="dark" type="button" item-right (click)="showPassword(3)"> <ion-icon name="ios-eye-outline"></ion-icon></button>               
            </ion-item>
        </div>
        <div padding>
            <button ion-button (click)="changePassword(addForm)" class="button button-fill button-raised submit-btn" type="submit" block>
                تغيير كلمة المرور
            </button>
        </div>
    </form>
</ion-content>