page-payment {
    .datetime-text .datetime-placeholder{
        color: rgb(56,56,56) !important;
        font-size: 0.8em !important;
        } 
        // ion-card-content{
        //     background-color: #C42730 !important;
        //     margin: 0 !important;
        //     h2,p {
        //         color: white !important;
        //     }
        // }
}
