<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title style="font-size:0.2rem">
         الإشتراك في الباقات
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-card-content>
        <ion-item no-lines style="background-color: transparent !important;">
            <h4 text-center>الإشتراك في {{navParams.data.Title}}</h4>
            <p text-center>قيمة الباقة : {{navParams.data.Price}} ر.س</p>
        </ion-item>
    </ion-card-content>
    <ion-row>
        <ion-col col-5></ion-col>
        <ion-col width-30>
            <img style="align-content: center" text-center src="assets/images/confirm-pay.png" />            
        </ion-col>
        <ion-col col-5></ion-col>
    </ion-row>
    <ion-row justify-content-center>
        <p text-center>الدفع بالبطاقات الإئتمانية </p>
    </ion-row>
    <form padding #paymentForm="ngForm">
        <ion-item>
                <ion-label> رقم البطاقة </ion-label>                
            <ion-input required text-right placeholder="رقم البطاقة" type="number" id="cardnum" [(ngModel)]="card.number" name="card"></ion-input>
        </ion-item>
        <ion-item>
             <ion-label>رقم ال  CVC </ion-label>
            <ion-input required text-right placeholder="CVCرقم " id="cvc" type="number" name="cvc" [(ngModel)]="card.cvc"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label>تاريخ انتهاء البطاقة</ion-label>
            <ion-datetime required style="font-size:0.8em !important; color: rgb(56,56,56) !important;" text-center placeholder="تنتهي في" name="birthDate"
                displayFormat="MM/YYYY" max="2060-12-31" pickerFormat="MM/YYYY" [(ngModel)]="fullDate"></ion-datetime>
        </ion-item>
        <button style="margin-top:20%;" padding ion-button block class="button button-fill button-raised submit-btn" (click)="makePayment(paymentForm)">إكمال عملية الدفع</button>
    </form>
</ion-content>