@font-face {
    font-family: 'Droid Arabic Kufi';
    src: url('../assets/fonts/DroidKufi.eot') format('embedded-opentype'), url('../assets/fonts/DroidKufi.woff') format('woff'), url('../assets/fonts/DroidKufi.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
} 

@font-face {
    font-family: 'Barlow Semi Condensed';
    src: url('../assets/fonts/BarlowSemiCondensed-Medium.ttf') format("opentype");
    font-size: 17px !important;
  } 

  ion-content, ion-tabs, ion-header ,ion-footer{
    font-family: 'Droid Arabic Kufi' ,'Barlow Semi Condensed' ,sans-serif !important;
 }
  .comments{
    padding: 3px 5px 1px 5px;
    float: left;
    font-size: 0.8em !important;
    color: #868383 !important;
}
.custom-mark{
        margin-top: 0;
    width: 32px !important;
    height: 32px !important;
    left: 0 !important;
     margin-left: 5px !important;
}

.error-message{
    position:absolute;
    left: 0;
    right: 0;
    margin:0 auto;
    top:50%;
    color: #9c9999;    
    transform:translateY(-50%);
}
.loader,
.loader:after {
  border-radius: 50%;
  width: 5em;
  height: 5em;
}
.loader {
  margin: 60px auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 0.8em solid rgba(255, 255, 255, 0.2);
  border-right: 0.8em solid rgba(255, 255, 255, 0.2);
  border-bottom: 0.8em solid rgba(255, 255, 255, 0.2);
  border-left: 0.8em solid #c42730;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
   
ion-menu{
    direction: rtl;
    float: right;
    .label-md{
        font-size: 0.85em;        
    }
}
 

.led-box {
  height: 30px;
  width: 25%;
  margin: 10px 0;
  float: left;
}

.led-box p {
  font-size: 12px;
  text-align: center;
  margin: 1em;
}

.loading-ios .loading-wrapper { 
    max-width: 270px;
    max-height: 90%; 
    background: transparent; 
}
.loading-md .loading-wrapper { 
    max-width: 270px;
    max-height: 90%; 
    background: transparent;
    -webkit-box-shadow: 0 0 0 transparent !important; 
     padding:0; 
}

.led-red {
  margin: 0 auto;
  width: 10px;
  height: 10px;
  background-color: #F00;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 12px;
}

.led-yellow {
  margin: 0 auto;
  width: 10px;
  height: 10px;
  background-color: #FF0;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #808002 0 -1px 9px, #FF0 0 2px 12px;
}


.led-green {
  margin: 0 auto;
  width: 10px;
  height: 10px;
  background-color: rgb(116, 172, 3);
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #304701 0 -1px 9px, #89FF00 0 2px 12px;
}

.led-blue {
  margin: 0 auto;
  width: 24px;
  height: 24px;
  background-color: #24E0FF;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #006 0 -1px 9px, #3F8CFF 0 2px 14px;
}
.tab-button-text{
    font-size: 0.95rem !important;    
}
.alert-md .alert-radio-icon {
    right: 13px !important;
}


.bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default ,.bar-button-default-ios, .bar-button-clear-ios-default, .bar-button-ios-default{
    color: white !important;
}
.alert-ios .alert-radio-icon {
    right: 13px !important;
}

.toolbar-title-md ,.toolbar-title-ios  {
    color:white !important;
    font-size: 1.5rem !important;
}
.item-ios[detail-push] .item-inner, button.item-ios:not([detail-none]) .item-inner, a.item-ios:not([detail-none]) .item-inner {
    padding-right: 5px !important;
}
 ion-menu ion-content {
    background: none;
}
ion-menu ion-content {
    background: none;
}
ion-list button{
    padding-top:5px !important;
    color: #C42730 !important;
}

ion-menu ion-content ion-label { 
    color: #C42730 !important;
}

ion-menu ion-content .label-ios{
    margin : 0 !important;
    font-size:12px;
}
.label-ios{
    margin : 0 !important;
    font-size:0.8em;
}
.label-md{
    font-size:0.8em;    
}
 ion-input, form ion-list {
    background-color: transparent !important;
}

ion-content ion-input {
    color: rgb(48, 48, 48);
}

.text-input::-moz-placeholder {
    font-family: 'Droid Arabic Kufi' !important;    
    color:  rgb(56, 56, 56);
}

.text-input:-ms-input-placeholder { 
    font-family: 'Droid Arabic Kufi' !important;    
    color:rgb(56, 56, 56);
}

.text-input::-webkit-input-placeholder {
    font-family: 'Droid Arabic Kufi' !important;        
    text-indent: 2px;
    padding-right: 5px !important;
    color:rgb(56, 56, 56);
}

.logo-row {
    padding-top: 50px;
    margin-top: 30px;
    padding-bottom: 20px;
}

.login-box {
    padding: 15px 15px 0px 15px;
    margin-top: 20px;
}

.register-btn {
    color: #ffffff;
    font-size: 0.8em;
}
.logo {
    padding: 20px 0;
    text-align: center;
  }
.logo-land img {
    width: 65%;
    margin-top: 10%;
}

.toolbar-background {     
    background-color: #C42730 !important;
}

.menu-logo {
    height: 80px;
    // margin: 12px 20px 0 0;
  }
  .icon-md-primary {
    color: #C42730 !important;
} 

.outer-content{
    background-image: none !important;
}
ion-content ion-label {
    color: rgb(48, 48, 48) !important;
}
.submit-btn {
    padding: 5px;
    background: #C42730;
    border-radius: 30px !important;
    border: 1px solid #ffffff;
  }

.button-fill {
    background-color: #C42730 !important;
}

.tabbar {
    background-color: #C42730 !important;
    padding: 5px;
}

.tab-button {
    color: white !important;
}
 
.bar-button-default-ios, .bar-button-default.bar-button-ios-default, .bar-button-clear-ios-default {
    color: whitesmoke !important;
    background-color: transparent  !important;
}

.toolbar-title-ios {
    text-align: center;
    font-size: 1.7rem;
    font-weight: 600;
    color: whitesmoke !important;
    pointer-events: auto;
} 
.text-input{
    font-size: small !important;
}
.tab-button-icon {
    color: white !important;
}
[dir="rtl"] .segment-ios .segment-button:first-of-type {
    border-left-width: 1px;
}
 
// Media of at most the maximum breakpoint width. No query for the largest breakpoint.
// Makes the @content apply to the given breakpoint and narrower.
@mixin media-breakpoint-down($name, $breakpoints: $grid-breakpoints) {
    $max: breakpoint-max($name, $breakpoints);

    @if $max {
        @media (max-width: $max) {
            @content;
        }
    }
    @else {
        @content;
    }
}
@function breakpoint-next($name, $breakpoints: $grid-breakpoints, $breakpoint-names: map-keys($breakpoints)) {
    $n: index($breakpoint-names, $name);
    @return if($n < length($breakpoint-names), nth($breakpoint-names, $n + 1), null);
}

 
@function breakpoint-max($name, $breakpoints: $grid-breakpoints) {
    $next: breakpoint-next($name, $breakpoints);
    @return if($next, breakpoint-min($next, $breakpoints) - 1px, null);
}


// Creates text alignment classes based on screen size
// TODO this would be nice to add to the framework
@each $breakpoint in map-keys($grid-breakpoints) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

    @include media-breakpoint-up($breakpoint, $grid-breakpoints) {
        // Provide text `[text-{bp}]` attributes for aligning text based on screen size
        [text#{$infix}-center] {
            text-align: center;
        }

        [text#{$infix}-left] {
            text-align: right;
        }

        [text#{$infix}-right] {
            text-align: right;
        }

        [hidden#{$infix}-up] {
            display: none;
        }
    }

    @include media-breakpoint-down($breakpoint, $grid-breakpoints) {
        [hidden#{$infix}-down] {
            display: none;
        }
    }
}
