<ion-split-pane>
    <ion-menu side="right" class="menu-link" id="loggedOutMenu" [content]="content">
        <ion-header style="padding-top:6px !important; background-image:none; background-color: #C42730 !important;">
            <div text-center padding-top>
                <img src="assets/images/logo-white.png" class="menu-logo" />
            </div>
        </ion-header>
        <ion-content class="outer-content">
            <ion-list>
                <button ion-item menuClose *ngFor="let p of outPages" (click)="openPage(p)" style="color:black;">
                    <ion-icon item-start [name]="p.icon"></ion-icon>
                    {{p.title}}
                </button>
            </ion-list>
        </ion-content>
    </ion-menu>

    <ion-menu side="right" class="menu-link" id="loggedInMenu" [content]="content">
        <ion-header style="padding-top:6px !important; background-image:none; background-color: #C42730 !important;">
            <div text-center padding-top>
                <img src="assets/images/logo-white.png" class="menu-logo" />
            </div>
        </ion-header>
        <ion-content class="outer-content">
            <ion-list no-line>
                <button ion-item menuClose *ngFor="let p of menuePages" (click)="openPage(p)" style="color:black;">
                    <ion-icon item-start [name]="p.icon"></ion-icon>
                    {{p.title}}
                </button>
            </ion-list>
        </ion-content>
    </ion-menu>
    <ion-nav #content swipeBackEnabled="false" main name="app" [root]="rootPage" ></ion-nav>
</ion-split-pane>