<ion-content dir="ltr" style="background-color: rgba(255, 255, 255, 0.589);">
  <ion-slides pager (ionSlideDidChange)="slideChanged()" (ionSlideDrag)="slideMoved()">
    <ion-slide>
      <div class="diag" style="background: url('assets/images/bac.svg') no-repeat">
        <ion-icon ios="ios-analytics" md="md-analytics"  [@bounce]='state' (@bounce.done)="animationDone()"></ion-icon>
      </div>
      <div [@bounce]='state'>
        <h2>هل لديك إستفسارات!</h2>
        <p>أي كان ما لديك من مشاكل قانونية ستجد من يجاوب علي استفسارك هنا</p>
      </div>
    </ion-slide>
    <ion-slide>
      <div class="diag" style="background: url('assets/images/bac.svg') no-repeat">
        <ion-icon ios="ios-trophy" md="md-trophy"  [@bounce]='state'></ion-icon>
      </div>
      <div [@bounce]='state'>
        <h2>قم بطرح استشارتك</h2>
        <p>سيتم قبول استشارتك من قبل المختصون لتبدأ المناقشه</p>
      </div>
    </ion-slide>
    <ion-slide>
      <div class="diag" style="background: url('assets/images/bac.svg') no-repeat">
        <ion-icon ios="ios-chatboxes" md="md-chatboxes"  [@bounce]='state'></ion-icon>
      </div>
      <div [@bounce]='state'>
        <h2>تناقش مع المستشار الخاص بك</h2>
        <p>يمكنك مستشارك من مناقشة الاستشاره مع مستشارك</p>
      </div>
    </ion-slide>
  </ion-slides>
  <button (click)="skip()" id="skip">{{ skipMsg }}</button>
</ion-content>