<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>
            سجل الاشتراكات
        </ion-title>
    </ion-navbar>
</ion-header>
<ion-content padding>
    <ion-list *ngIf="!isConsultant && history.length > 0" no-lines>
        <ion-item *ngFor="let hi of history">
            <ion-avatar item-start>
                <ion-icon style="font-size: 2.2em !important; color:rgb(26, 97, 26);" *ngIf="hi.IsActive" name="md-checkmark-circle"></ion-icon>
                <ion-icon style="font-size: 2.2em !important;" *ngIf="!hi.IsActive" name="checkmark-circle-outline"></ion-icon>
            </ion-avatar>
            <h2>
                {{hi.Package}}
            </h2>
            <p>من {{hi.FromDate}} الي {{hi.ToDate}}</p>
        </ion-item>
    </ion-list>
    <div padding class="error-message" *ngIf="!isConsultant && !history.length ">
        <ion-row>
            <ion-col>
                <ion-row justify-content-center>
                    <ion-icon style="font-size:3.8em !important;" class="larger-icon" name="cloud-outline"></ion-icon>
                </ion-row>
                <ion-row padding text-center style="font-size: 0.8em !important; " justify-content-center>
                        لم تشترك في أي باقات بعد أو أن هناك خطأ ما أو أنك فقدت الإتصال بالإنترنت
                </ion-row>
            </ion-col>
        </ion-row>
    </div>
    
</ion-content>