<ion-header>
    <ion-navbar>
      <ion-title>ملف صاحب عمل </ion-title>
    </ion-navbar>
  </ion-header>
  <ion-content padding>
    <div padding text-center>
      <img [src]="client.Image" alt="avatar">
      <h3 style="margin-top: 0px; font-size: 1.8rem !important; color:#C42730 !important">
        <b>
          {{client.FullName}}
        </b>
      </h3>
       <ion-item>
        <ion-label>رقم الهاتف </ion-label>
        <ion-input text-left type="number" disabled name="moile" [(ngModel)]="client.Mobile"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>تاريخ الميلاد</ion-label>
        <ion-input text-left name="birthDate" disabled [(ngModel)]="client.BirthDate"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>النوع</ion-label>
        <ion-input text-left name="gender" disabled [(ngModel)]="client.Gender"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label> نوع النشاط </ion-label>
        <ion-input type="text" disabled text-left name="field" [(ngModel)]="client.Field"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label> حجم المبيعات في السنة </ion-label>
        <ion-input type="number" disabled text-left name="sals" [(ngModel)]="client.SalesVolumn"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label> رأس مال المنشأه </ion-label>
        <ion-input text-left disabled type="number" name="capital" [(ngModel)]="client.Capital"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label> عدد الموظفين </ion-label>
        <ion-input text-left disabled type="number" name="emps" [(ngModel)]="client.NoOfEmps"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label> عدد سنوات المنشأه </ion-label>
        <ion-input disabled type="text" name="years" [(ngModel)]="client.NoOfYears"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label> الموقع الإلكتروني </ion-label>
        <ion-input disabled type="text" text-left name="site" [(ngModel)]="client.Website"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label> هل لدى منشأتك خطة إستراتيجية ؟ </ion-label>
        <ion-input disabled type="text" text-left name="site" [(ngModel)]="client.HavePlane"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label> هل لدى منشأتك أنظمة داخلية ؟ </ion-label>
        <ion-input disabled type="text" text-left name="site" [(ngModel)]="client.HaveSystem"></ion-input>
      </ion-item>
    </div>
  </ion-content>