<ion-header>
    <ion-navbar>
      <ion-title>تفاصيل موظف</ion-title>
    </ion-navbar>
  </ion-header>
  <ion-content padding>
    <div padding text-center>
      <img [src]="employee.Image" alt="avatar">
      <h3 style="margin-top: 0px; font-size: 1.8rem !important; color:#C42730 !important">
        <b>
          {{employee.FullName}}
        </b>
      </h3>
      <ion-item>
        <ion-label>رقم الهاتف </ion-label>
        <ion-input text-right type="number" name="moile" disabled [(ngModel)]="employee.Mobile"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>تاريخ الميلاد</ion-label>
        <ion-input text-right  name="birthDate" disabled [(ngModel)]="employee.BirthDate"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>النوع</ion-label>
        <ion-input text-right  name="birthDate" disabled [(ngModel)]="employee.Gender"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label> هل يوجد موظفون يتبعون لك ؟ </ion-label>
        <ion-input text-right  name="birthDate" disabled [(ngModel)]="employee.IsSupervisor"></ion-input>
      </ion-item>
      <ion-list>
        <ion-item>
          <ion-label>آخر ثلاث مناصب وظيفية : </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>المنصب الأول </ion-label>
          <ion-input text-right type="text" disabled name="firstPosition" [(ngModel)]="employee.LastJobTitle1"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>المنصب الثاني </ion-label>
          <ion-input text-right type="text" disabled name="secondPostition" [(ngModel)]="employee.LastJobTitle2"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>المنصب الثالث </ion-label>
          <ion-input text-right type="text" disabled name="thirdPosition" [(ngModel)]="employee.LastJobTitle3"></ion-input>
        </ion-item>
      </ion-list>
      <ion-item>
        <ion-label>جهة العمل </ion-label>
        <ion-input text-right type="text" disabled name="employer" [(ngModel)]="employee.Employer"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>المسمى الوظيفي </ion-label>
        <ion-input text-right type="text" disabled name="currentJop" [(ngModel)]="employee.CurrentJobTitle"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>المستوى التعليمي </ion-label>
        <ion-input text-right type="text" disabled name="eduLevel" [(ngModel)]="employee.LearningLevel"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>عدد سنوات الخبرة </ion-label>
        <ion-input text-right type="number" disabled name="experienceLevel" [(ngModel)]="employee.ExperianceYears"></ion-input>
      </ion-item>
    </div>
  </ion-content>
