page-account {
    ion-content {
        background-image: none;
    }
    .con{
          font-size: 0.9em;
    margin-top: 6px !important;

    }
 ion-card {

    margin-top: 9.4rem !important;
    overflow: visible;

    ion-card-content {

      background-color: #C42730;
      color: #FFFFFF !important;
      text-align: center;
      padding-bottom: 28px;

      img {
        height: 160px;
        width: 160px;
        border-radius: 50%;
        margin-top: -100px;
        border: solid 4px #FFFFFF;
        display: inline;
      }

      h2 {
        font-size: 2.0rem;
        margin-top: .8rem;
        color: white !important;
      }

      h3 {
    font-size: 0.7em;       
     color: white !important;
      }

    }
  }
}