<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>الملف الشخصى</ion-title>
    </ion-navbar>
</ion-header>
<ion-content class="broker">
    <ion-card>
        <ion-card-content>
            <img [src]="imageUrl" (click)="gotoChangePic()" />
            <h2>{{username}}</h2>
            <h3>{{accountType}}</h3>
        </ion-card-content>
        <div text-center *ngIf="isConsultant && consultantDetails">
            <p padding>
                {{consultantDetails}}
            </p>
        </div>
        <ion-list no-lines padding>
            <ion-item *ngIf="!isConsultant && !currentPackage">
                <p text-center style="font-size: 0.90rem !important; color:#C42730;">
                    أنت غير مشترك في أي باقة أو أن رصيدك قد نفذ 
                </p>
                <hr />
            </ion-item>
        
            <ion-item *ngIf="!isConsultant && currentPackage">
                <h2 class="con">الباقة الحالية</h2>
                <p item-end style="font-size: 0.8em;">{{currentPackage}}</p>
                <!-- <hr /> -->
            </ion-item>
            <ion-item *ngIf="!isConsultant && currentPackage">
                <h2 class="con">رصيد الإستشارات</h2>
                <p item-end style="font-size: 0.7em;">
                    <b style="color:#C42730;">{{RestQuestions}}</b> حتي
                    <b color="danger">{{CurrentPackageEndDate}}</b>
                </p>
                <!-- <hr /> -->
            </ion-item>
            <ion-item *ngIf="!isConsultant && currentPackage">
                <h2 class="con">الإستشارات التي تم إستهلاكها</h2>
                <p item-end style="font-size: 0.8em;">
                    <b style="color:#C42730;">{{AskedQuestions}}</b>
                </p>
            </ion-item>
            <a  full (click)="gotoPackages()" color="danger" *ngIf="!isConsultant && !currentPackage" ion-item>
                <p style="font-size: 0.9em !important;" justify-content-center>
                    <ion-icon class="larger-icon" name="albums"></ion-icon>
                    الإشتراك في باقة
                </p>
            </a>
                <a ion-item full  color="light" (click)="updateProfile()">
                    <p style="font-size: 0.9em !important;" justify-content-center>
                        <ion-icon class="larger-icon" name="build"></ion-icon>
                        إعدادات الحساب
                    </p>
                </a> 
                <a ion-item full  color="light" (click)="changePassword()">
                    <p style="font-size: 0.9em !important;" justify-content-center>
                        <ion-icon class="larger-icon" name="lock"></ion-icon>
                        تغيير كلمة المرور
                    </p>
                </a>  
        </ion-list>
    </ion-card>
</ion-content>