<ion-header>
    <ion-navbar>
        <ion-title>إعدادات الحساب</ion-title>
    </ion-navbar>
</ion-header>
<ion-content padding>
    <form #addForm="ngForm">
        <ion-item>
            <ion-label>الإسم  </ion-label>
            <ion-input text-right type="text" name="name" [(ngModel)]="model.Name"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label >رقم الهاتف </ion-label>
            <ion-input text-right type="number" name="moile" [(ngModel)]="model.Mobile"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label >تاريخ الميلاد</ion-label>
            <ion-datetime text-right displayFormat="DD/MM/YYYY" name="birthDate" pickerFormat="DD/MM/YYYY" [(ngModel)]="model.BirthDate"></ion-datetime> <!---->
        </ion-item>
        <ion-list radio-group [(ngModel)]="model.Gender" name="gender">
            <ion-item>
                <ion-label>النوع</ion-label>
            </ion-item>
            <ion-item>
                <ion-radio value="1"></ion-radio>
                <ion-label>ذكر</ion-label>
            </ion-item>
            <ion-item>
                <ion-radio value="2"></ion-radio>
                <ion-label>أنثي</ion-label>
            </ion-item>
            <ion-item></ion-item>
        </ion-list>
        <ion-list radio-group [(ngModel)]="model.IsSupervisor" name="supervisor">
            <ion-item>
                <ion-label> هل يوجد موظفون يتبعون لك ؟ </ion-label>
            </ion-item>
            <ion-item>
                <ion-radio value="true"></ion-radio>
                <ion-label>نعم</ion-label>
            </ion-item>
            <ion-item>
                <ion-radio value="false"></ion-radio>
                <ion-label>كلا</ion-label>
            </ion-item>
            <ion-item></ion-item>            
        </ion-list>
        <ion-list  >
            <ion-item>
                <ion-label>آخر ثلاث مناصب وظيفية :  </ion-label>
            </ion-item>
            <ion-item>
                <ion-label >المنصب الأول   </ion-label>
                <ion-input text-right type="text" name="firstPosition" [(ngModel)]="model.LastJobTitle1"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label >المنصب الثاني  </ion-label>
                <ion-input text-right type="text" name="secondPostition" [(ngModel)]="model.LastJobTitle2"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label >المنصب الثالث  </ion-label>
                <ion-input text-right type="text" name="thirdPosition" [(ngModel)]="model.LastJobTitle3"></ion-input>
            </ion-item>
        </ion-list>
        <ion-item>
            <ion-label >جهة العمل  </ion-label>
            <ion-input text-right type="text" name="employer" [(ngModel)]="model.Employer"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label >المسمى الوظيفي  </ion-label>
            <ion-input text-right type="text" name="currentJop" [(ngModel)]="model.CurrentJobTitle"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label >المستوى التعليمي  </ion-label>
            <ion-input text-right type="text" name="eduLevel" [(ngModel)]="model.LearningLevel"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label >عدد سنوات الخبرة  </ion-label>
            <ion-input text-right type="number" name="experienceLevel" [(ngModel)]="model.ExperianceYears"></ion-input>
        </ion-item>
        <div padding>
            <button ion-button (click)="saveChanges(addForm)" class="button button-fill button-raised" type="submit" block>
                حفظ البيانات
            </button>
        </div>
    </form>
</ion-content>