<ion-content padding>
  <div class="logo logo-land " text-center padding>
    <img src="assets/images/bnr2.png" />
    <h4>تغيير كلمة المرور</h4>
  </div>

  <form #loginForm="ngForm" *ngIf="cur == 1">
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-input type="email" autocapitalize="off" [(ngModel)]="login.username" placeholder="البريد الإلكتروني" name="email" text-center
            required></ion-input>
          <button ion-button clear color="dark" type="button" item-right>
            <ion-icon name="mail"></ion-icon>
          </button>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="signup-col">
        <button ion-button class="submit-btn" (click)="onLogin(loginForm)" [disabled]="!loginForm.form.valid" full type="submit"
          color="danger">إرسال الرمز</button>
      </ion-col>
    </ion-row>
  </form>
  <form #confirmForm="ngForm" *ngIf="cur == 2" novalidate>
    <ion-list>
      <ion-item text-center padding text-wrap no-lines>
        <h2 class="package-description">من فضلك أدخل كود التفعيل المرسل علي البريد هنا </h2>
      </ion-item>
      <ion-item text-center padding>
        <ion-input autocapitalize="off" placeholder="####" max-length="4" required type="number" name="confirmcode" [(ngModel)]="data.ActivationCode"
          #confirmcode="ngModel" text-center required></ion-input>
        <button ion-button clear color="dark" type="button" item-right>
          <ion-icon name="code"></ion-icon>
        </button>
      </ion-item>
    </ion-list>
    <div padding>
      <button ion-button color="danger" (click)="validateCode(confirmForm)" class="button button-fill button-raised" type="submit"
        block>
        تأكيد الكود
      </button>
      <button ion-button color="danger" (click)="resend()" class="button button-fill button-raised" type="submit" block>
        إعادة إرسال الكود
      </button>
    </div>
  </form>
  <form #addForm="ngForm" *ngIf="cur == 3">
    <div padding>
      <ion-item>
        <ion-input type="{{type2}}" text-center placeholder="كلمة المرور الجديدة" name="newPassword" [(ngModel)]="model.NewPassword">
        </ion-input>
        <button *ngIf="showPass2" ion-button clear color="dark" type="button" item-right (click)="showPassword(2)">
          <ion-icon name="ios-eye-off-outline"></ion-icon>
        </button>
        <button *ngIf="!showPass2" ion-button clear color="dark" type="button" item-right (click)="showPassword(2)">
          <ion-icon name="ios-eye-outline"></ion-icon>
        </button>

      </ion-item>
      <ion-item>
        <ion-input placeholder="تأكيد كلمة المرور الجديدة" text-center type="{{type3}}" name="confirmPassword" [(ngModel)]="model.ConfirmPassword">
        </ion-input>
        <button *ngIf="showPass3" ion-button clear color="dark" type="button" item-right (click)="showPassword(3)">
          <ion-icon name="ios-eye-off-outline"></ion-icon>
        </button>
        <button *ngIf="!showPass3" ion-button clear color="dark" type="button" item-right (click)="showPassword(3)">
          <ion-icon name="ios-eye-outline"></ion-icon>
        </button>
      </ion-item>
    </div>

    <div padding>
      <button ion-button (click)="changePassword(addForm)" class="button button-fill button-raised submit-btn" type="submit" block>
        تغيير كلمة المرور
      </button>
    </div>
  </form>
</ion-content>
<ion-footer padding>
  <button ion-button (click)="backtoLogin()" class="button button-fill button-raised" type="submit" block>
    العودة إلي تسجيل الدخول
  </button>
</ion-footer>