page-signup {
    .login-content .item-inner {
        padding-right: 0 !important;
    }
      ion-content{
        background: url(../assets/images/pattern.jpg);
        background-size: cover;
      //     -webkit-filter: blur(5px);
      // -moz-filter: blur(5px);
      // -o-filter: blur(5px);
      // -ms-filter: blur(5px);
      // filter: blur(5px);
    
      }
      .logo {
        padding: 10px 0;
        min-height: 200px;
        text-align: center;
    
        img {
          max-width: 150px;
        }
      }
       
    
      .list {
        margin-bottom: 0;
      }
    
       
      .login-content {
        background: url(../assets/images/pattern.jpg);
        background-size: cover;
     
        .logo-row {
          padding-top: 30px;
          padding-bottom: 5px;
        }
     
        .login-box {
          // background: rgb(163, 165, 165);
          padding: 20px 20px 0px 20px;
          margin-top: 30px;
        }
     
        ion-row {
           align-items: center;
           text-align: center;
         }
         ion-label {
          color:white !important;
      }
      ion-input{
        color: white !important;
      }
         ion-item {
            //  border-radius: 30px !important;
            //  padding-left: 30px !important;
             font-size: 0.9em;
             margin-bottom: 10px;
             background-color: transparent !important;
             box-shadow: none !important;
         }
     
         .signup-col {
           margin: 0px 16px 0px 16px;
           padding-bottom: 20px;
         }
     
         .item-inner {
           border-bottom-color: #808080 !important;
           box-shadow: none !important;
         }
     
         .submit-btn {
           padding: 5px;
           background: #C42730;
           border-radius: 30px !important;
           border: 1px solid #ffffff;
         }
         .text-input::-moz-placeholder {
          color:  white;
      }
      
      .text-input:-ms-input-placeholder {
          color:white;
      }
      
      .text-input::-webkit-input-placeholder {
          text-indent: 0;
          color:white;
      }
         .other-btn {
           margin-top:5px !important;
           color: white;
           font-size: 0.9em;
         }
      }
    
}
