<ion-content fullscreen class="login-content" padding>
    <ion-row class="logo-row" style="padding-top: 0 !important;">
        <ion-col></ion-col>
        <ion-col col-6>
            <img src="assets/images/logo-white.png" />
        </ion-col>
        <ion-col></ion-col>
    </ion-row>
    <div class="login-box" style="padding-top: 0px !important;">
        <form #signupForm="ngForm">
            <ion-row>
                <ion-col>
                    <ion-item>
                        <ion-input text-center placeholder="إسم المستخدم" [(ngModel)]="signup.Name" name="username" type="text" #username="ngModel"
                            required></ion-input>
                            <button   ion-button clear color="dark" type="button" item-right > <ion-icon style="color:white;"  name="person"></ion-icon></button>
                            
                    </ion-item>
                    <ion-item>
                        <ion-input text-center placeholder="البريد الإلكتروني" autocapitalize="off" [(ngModel)]="signup.Email" name="useremail" type="email"
                            #useremail="ngModel" required>
                        </ion-input>
                        <button   ion-button clear color="dark" type="button" item-right  > <ion-icon style="color:white;"  name="mail"></ion-icon></button>
                        
                    </ion-item>
                    <ion-item>
                        <ion-input text-center placeholder="كلمة المرور" [(ngModel)]="signup.Password" name="userpassword" type="{{type1}}" #userpassword="ngModel"
                            required>
                            
                        </ion-input>
                        <button *ngIf="showPass1" ion-button clear color="dark" type="button" item-right (click)="showPassword(1)"> <ion-icon style="color:white;"  name="ios-eye-off-outline"></ion-icon></button>
                        <button *ngIf="!showPass1" ion-button clear color="dark" type="button" item-right (click)="showPassword(1)"> <ion-icon style="color:white;"  name="ios-eye-outline"></ion-icon></button>               
                    </ion-item>
                    <ion-item>
                        <ion-input text-center placeholder="تأكيد كلمة المرور" [(ngModel)]="signup.ConfirmPassword" name="confirmpassword" type="{{type2}}"
                            #confirmpassword="ngModel" required>
                        </ion-input>
                        <button *ngIf="showPass2" ion-button clear color="dark" type="button" item-right (click)="showPassword(2)"> <ion-icon style="color:white;" name="ios-eye-off-outline"></ion-icon></button>
                        <button *ngIf="!showPass2" ion-button clear color="dark" type="button" item-right (click)="showPassword(2)"> <ion-icon style="color:white;"  name="ios-eye-outline"></ion-icon></button>               
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row radio-group [(ngModel)]="signup.TypeId" name="type">
                <ion-col>
                    <ion-item no-lines>
                        <ion-label>موظف</ion-label>
                        <ion-radio value="1" checked></ion-radio>
                    </ion-item>
                </ion-col>
                <ion-col>
                    <ion-item no-lines>
                        <ion-label>صاحب عمل</ion-label>
                        <ion-radio value="2"></ion-radio>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col class="signup-col">
                    <button ion-button class="submit-btn" (click)="onSignup(signupForm)" [disabled]="!signupForm.form.valid" full type="submit"
                        color="danger">إنشاء الحساب</button>
                    <button ion-button class="other-btn" block clear (click)="goToLogin()">تسجيل الدخول !</button>
                    <p ion-text [hidden]="(signup.password == signup.confirmPassword && confirmpassword.valid) || submitted == false" color="light"
                        padding-left>
                        كلمة المرو غير مطابقة
                    </p>
                    <p ion-text [hidden]="username.valid || submitted == false" color="light" padding-left>
                        الرجاء إدخال اسم المستخدم
                    </p>
                    <p ion-text [hidden]="useremail.valid || submitted == false" color="light" padding-left>
                        الرجاء إدخال بريد إلكتروني صحيح
                    </p>
                    <p ion-text [hidden]="userpassword.valid || submitted == false" color="light" padding-left>
                        الرجاء إدخال كلمة مرور
                    </p>

                </ion-col>
            </ion-row>
        </form>
    </div>
</ion-content>

 
