<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title> إعدادات الحساب </ion-title>
    </ion-navbar>
</ion-header>
<ion-content padding text-center>
    <form #addForm="ngForm">
        <ion-item>
            <ion-label> الإسم </ion-label>
            <ion-input text-right type="text" name="name" [(ngModel)]="model.Name"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label>رقم الهاتف </ion-label>
            <ion-input text-right type="number" name="moile" [(ngModel)]="model.Mobile"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label> تاريخ الميلاد</ion-label>
            <ion-datetime text-right name="birthDate" displayFormat="DD/MM/YYYY" pickerFormat="DD/MM/YYYY" [(ngModel)]="model.BirthDate"></ion-datetime>
            <!---->
        </ion-item>
        <ion-list no-lines radio-group [(ngModel)]="model.Gender" name="gender">
            <ion-item>
                <ion-label>النوع</ion-label>
            </ion-item>
            <ion-item>
                <ion-radio value="1"></ion-radio>
                <ion-label>ذكر</ion-label>
            </ion-item>
            <ion-item>
                <ion-radio value="2"></ion-radio>
                <ion-label>أنثى</ion-label>
            </ion-item>
        </ion-list>
        <ion-item>
            <ion-label> الوظيفة الحالية </ion-label>
            <ion-input text-right type="text" name="currentJop" [(ngModel)]="model.Qulifications"></ion-input>
        </ion-item>
        <div padding>
            <button ion-button (click)="saveChanges(addForm)" class="button button-fill button-raised" type="submit" block>
                حفظ بيانات الحساب
            </button>
        </div>
    </form>
</ion-content>