page-consltant-profile {
    img {
        width: 60% !important;
        height: 60% !important;
        max-width: 100px !important; //any size
        max-height: 100px !important; //any size
        border-radius: 60%;
    }
    ion-content ion-item {
        background-color: transparent !important;
    }
}
