page-policy {
    .list .item.item-accordion {
        line-height: 38px;
        padding-top: 0;
        padding-bottom: 0;
        transition: 0.09s all linear;
    }

    .list .item.item-accordion.hide {
        line-height: 0px;
    }
    .about-header {
        padding: 16px;
        width: 100%;
        min-height: 150px;
        text-align: center;
      }
      
      .about-header img {
        max-width: 200px;
        min-height: 115px;
        margin-left: -15px;
        padding: 25px 0 20px 0;
      } 
      .about-info ion-icon {
        color: color($colors, primary);
        width: 20px;
      }
      
      .md,
      .wp {
        .about-info [text-right] {
          margin-right: 0;
        }
      }
      
      .ios .about-info {
          direction:rtl;
        text-align: right;
      }
      
      .ios .about-info ion-icon {
        width: auto;
        margin-right: 10px;
      }
      
}
