
<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>
            سياسة الإستخدام
        </ion-title>
    </ion-navbar>
</ion-header>
<ion-content padding>
    <div class="about-header">
        <img src="assets/images/logo.png" alt="Mustashark logo">
    </div>
    <div padding class="about-info">
        <h4 text-center>سياسة الإستخدام </h4>
        <div [innerHtml]="policyContent"></div>        
    </div>
    
</ion-content>
