<ion-header>
    <ion-toolbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>
            <b>إنشاء إستشارة</b>
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content padding>
    <form #addForm="ngForm">
        <ion-item>
            <ion-input required placeholder="عنوان الإستشارة" text-right type="text" name="title" [(ngModel)]="consultation.Title"></ion-input>
        </ion-item>
        <ion-item>
            <ion-textarea #myInput id="myInput" rows="1" name="description" required text-right placeholder="تفاصيل الإستشارة" (keyup)="resize()"
                [(ngModel)]="consultation.Details"></ion-textarea>
        </ion-item>
        <div padding-top text-center>
            <ion-label>إرفق صورة مع الإستشارة </ion-label>
            <img [src]="consultation.Image" *ngIf="consultation.Image" text-center width="120" height="120" alt="إرفق صورة مع الاستشارة ">
            <ion-row padding justify-content-center>
                <ion-col>
                    <button ion-button color="light" (click)="browse()">
                        <p style="font-size: 0.9em !important;" justify-content-center>
                            <ion-icon class="larger-icon" name="image"></ion-icon>
                            إختيار صورة
                        </p>
                    </button>
                </ion-col>
                <ion-col>
                    <button ion-button color="light" (click)="pick()">
                        <p style="font-size: 0.9em !important;" justify-content-center>
                            <ion-icon class="larger-icon" name="camera"></ion-icon>
                            إلتقاط صورة
                        </p>
                    </button>
                </ion-col>
            </ion-row>
        </div>
        <div padding>
            <button ion-button (click)="save(addForm)" class="button button-fill button-raised" type="submit" block>
                إنشاء الإستشارة
            </button>
        </div>
    </form>
</ion-content>