page-consultation-add {
    ion-content {
        background-image: none;
        color: black !important;
    }
    ion-content ion-item {
        background-color: transparent !important;
    }
    
    ion-input {
        color: black !important;
    }
    button{
        padding-top:3px;
        padding-bottom:3px;
    }
    ion-label {
        color: black !important;
    }

    ion-icon {
        margin-left: 2px !important;
        font-size: 2.2rem;
    }

    .addForm {
        margin-left: 10% !important;
        margin-right: 10% !important;
    }

    img {
        width: auto !important; //any size
        height: 40vh !important; //any size
        border-radius: 0%;
    }
}
